<h1>Hello</h1>
<div>
  <a href="/articles">View Articles</a>
</div>
<div style="margin-top: 16px;">
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>